
   .project_github_link  {
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  }
  .project_deployed_link  {
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  }
  .project_github_link:hover   {
    border-radius: 10px 18px;
  }
  .project_deployed_link:hover   {
    border-radius: 10px 18px;
  }
  .cardImage {
    background: linear-gradient(0deg, #000, #272727);
    width: "90%";
    margin: auto;
    height: 300px;
  }
  .cardImage:hover {
    background: linear-gradient(0deg, #000, #272727);
    z-index: 1;
    box-shadow: #000 5px 5px, #000 10px 10px, #000 15px 15px, #000 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .CardProjects:before,
  .CardProjects:after {
    content: "";
    position: absolute;
    background-color: grey;
    left: -2px;
    top: -2px;
    box-shadow: #fff 0px 3px 8px;
    border: 2px solid #fff;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, #ffff, #ffff);
    background-size: 300%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    box-shadow: #fff 5px 5px, #fff 10px 10px, #fff 15px 15px, #fff 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
  }
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .CardProjects:after {
    filter: blur(50px);
    box-shadow: drop-shadow(0 0 0px rgb(255, 255, 255, 60%));
  }
  
  .tech_used_span1{
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
  }
  .tech_used_span2 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span3 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span4 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span5 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span6 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span7 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
  }
  .tech_used_span8 {
    background-color: #d69e2e;
    color: #fff;
    /* font-family: Lobster Two, cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
    margin-left: 8px;
    
  }
  .tech_used_span1:hover {
    background-color: #e4c076;
  }
  .tech_used_span2:hover {
    background-color: #e4c076;
  }
  .tech_used_span3:hover {
    background-color: #e4c076;
  }
  .tech_used_span4:hover {
    background-color: #e4c076;
  }
  .tech_used_span5:hover {
    background-color: #e4c076;
  }
  .tech_used_span6:hover {
    background-color: #e4c076;
  }
  .tech_used_span7:hover {
    background-color: #e4c076;
  }
  .tech_used_span8:hover {
    background-color: #e4c076;
  }
  .flexBox1 {
    justify-content: space-evenly;
  } 

  .CardProjects{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-left: 2%;
  }

  .tech_used_span{
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     gap: 10px;
  }
  .tech_used_span p{
    background-color: #d69e2e;
    color: #fff;
    font-family: Lobster Two, cursive;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 5px 6px;
    border-radius: 10px 12px;
    font-size: 14px;
 }
  .project_tech_stack{
    /* border: 1px solid black; */
    width: 140px;
    display: flex;
    justify-content: center;
   
   
  }




   @media only screen and (max-width: 900px) and (min-width: 320px) {
    .flexBox1 {
      /* border: 1px solid black; */
      flex-direction: column;
    }
    .flexBox2 {
      flex-direction: column;
      /* border: 1px solid black; */
    }
    .CardProjects {
      width: 90%;
      margin: auto;
    }
    .Project_Text {
      font-size: 28px;
    }
  } 
  
  